<link rel='stylesheet' type ="text/css" href='../css/loginStyle.css'>

<body>

 <div class = "center content" >


    <label for = "loginForm" class = "title" > Login </label> 

    <form id = "loginForm" action = "/auth" method = "POST">

      <div>
        <label for="username">Name</label>
        <input type="text" placeholder="Name" name="username">
      </div>

      <div>
        <label for="password">Password</label>
        <input type="password" placeholder="password" name="password">
      </div>

      <div>
        <button type="submit" value="submit">Submit</button>
      </div>


      <div>
        <button onclick = "location.href = ('/register')" >Register</button>
      </div>
       
 
      <div class = "status">
        <p> <%= connectionStatus %> </p>
      </div>


    </form>




    

  </div>

</body>