

    <script src="../JS/todomain.js" type = "text/javascript" defer></script> 
    <script src="../JS/login.js" type = "text/javascript" defer></script> 
    <script src="../JS/forms.js" type = "text/javascript" defer></script> 
    <script src="../JS/dataHandling.js" type = "text/javascript" defer></script> 
        
    <link rel='stylesheet' type ="text/css" href='../css/todomainStyle.css'>
    <link rel='stylesheet' type ="text/css" href='../css/navbarStyle.css'>
    <link rel='stylesheet' type ="text/css" href='../css/popupFormsStyle.css'>
    <link rel='stylesheet' type ="text/css" href='../css/tasknoteStyle.css'>
    <link rel='stylesheet' type ="text/css" href='../css/genericStyles.css'>

    <header>     
        
        <div>
            <p>
                <%= status %>
            </p>

            <span id = "Title">                
                TODO LIST 
            </span>
            <table id="DateTime">
                <tr class="tableRow">
                    <th>Date</th>
                    <th>Time</th>
                </tr>
                <tr class="tableRow">
                    <td id = "Date"></td>
                    <td id = "Time"></td>
                </tr>
            </table>

        </div>

        <div class = "navbar">

            <div class="dropDown inlineNav">

                <a  class = "navButton" onmouseover="getPlannings(this.nextElementSibling)" onclick = "loadDashboard(null)">  Load Planning  </a>
                <div class="dropdown-content">
                </div>

            </div>

            <div class = "inlineNav" onclick = "openSaveForm()">
                <a  class = "navButton" >Save Planning  </a>
            </div>

            <div  class = "inlineNav">
                <a href=" = ggg" class = "navButton" >Export Planning </a>
            </div>

            <div  class = "inlineNav" onclick = "location.href = ('/auth')" >
                <a  class = "navButton"  >Login </a>
            </div>

            <div  class = "inlineNav"  onclick = "logout()">
                <a class = "navButton">Log out </a>
            </div>

            <div class=" inlineNav" >
                <a href=" = ggg" class = "navButton" >About </a>
            </div>

            <a><input id = "catInputField" maxlength = "42" type="text" class="category navbarButton" placeholder="Add Category" onkeyup="createCategory(event)"></a>
        </div>

    </header>



<body>

    <div id = "TaskListWrapper">
    
    </div>

    <div id="popupTask">
        <form id = "popupForm">
            <span class = "closeButton" onclick = "closeNoteForm(this)">&times;</span>
           
            <div class = "centerDiv font" id = "taskName">
            </div>

        </form>
        <textarea type="text" id="popupNote"> </textarea>
        <div id ="submitNote" class = "centerDiv">
            <button  type = "submit" onclick="setNote()"  > </button>
        </div>
    </div>

    <div id="savePopup">
        <form id = "savePopupForm">
            <span class = "closeButton" onclick = "closeTheForm(this)">&times;</span>
            <label for="selectDate"> Select Date: </label>
            <input type = "date" id = "selectDate">
        </form>
        <button type = "submit" onclick="saveDashboard()"> submit</button>
    </div>

</body>



