

    <script src="../JS/todomain.js" type = "text/javascript" defer></script> 
    <script src="../JS/login.js" type = "text/javascript" defer></script> 
    <script src="../JS/forms.js" type = "text/javascript" defer></script> 
    <script src="../JS/dataHandling.js" type = "text/javascript" defer></script> 
        
    <link rel='stylesheet' type ="text/css" href='../css/todomainStyle.css'>
    <link rel='stylesheet' type ="text/css" href='../css/navbarStyle.css'>
    <link rel='stylesheet' type ="text/css" href='../css/popupFormsStyle.css'>
    <link rel='stylesheet' type ="text/css" href='../css/tasknoteStyle.css'>
    <link rel='stylesheet' type ="text/css" href='../css/genericStyles.css'>
    <link rel='stylesheet' type ="text/css" href='../css/calendarStyle.css'>


    <link rel='stylesheet' type ="text/css" href='../assets/CalendarPickerJS-master/CalendarPicker.style.css'>
    <script src="../assets/CalendarPickerJS-master/CalendarPicker.js" type = "text/javascript" defer></script> 
    <script src="../JS/calendarHandler.js" type = "text/javascript" defer></script>


    <header>     
        
        <div>
            <p>
                <%= status %>
            </p>

            <span id = "Title">                
                TODO LIST 
            </span>
            <table id="DateTime">
                <tr class="tableRow">
                    <th>Date</th>
                    <th>Time</th>
                </tr>
                <tr class="tableRow">
                    <td id = "Date"></td>
                    <td id = "Time"></td>
                </tr>
            </table>

        </div>

        <div class = "navbar">

            <!--
            <div class="dropDown inlineNav">

                <a  class = "navButton" onmousemove="" onclick = "loadDashboard(null)">  Load Planning  </a>
                <div class="dropdown-content">
                </div>

            </div>-->

            <div class = "inlineNav" onclick = "getPlannings(); openCalendar()">
                <a  class = "navButton" >Open Calendar</a>
            </div>

            <div  class = "inlineNav">
                <a href=" = ggg" class = "navButton" >Export Planning </a>
            </div>

            <div  class = "inlineNav" onclick = "location.href = ('/auth')" >
                <a  class = "navButton"  >Login </a>
            </div>

            <div  class = "inlineNav"  onclick = "logout()">
                <a class = "navButton">Log out </a>
            </div>

            <div class=" inlineNav" >
                <a href=" = ggg" class = "navButton" >About </a>
            </div>

            <a><input id = "catInputField" maxlength = "42" type="text" class="category navbarButton" placeholder="Add Category" onkeyup="createCategory(event)"></a>
        </div>

    </header>



<body>

    <div id = "TaskListWrapper">
    
    </div>

    <div id="popupTask">

        <button type = "submit"  class = "close" onclick = "closeNoteForm()"></button>
        <div class = "centerDiv font" id = "taskName"></div>

        <div >
            <textarea type="text" id="popupNote"> </textarea>

        </div>

        <div id ="submitNote" class = "centerDiv">
            <button  class = "greenTick" type = "submit" onclick="setNote()"  > </button>
        </div>
    </div>



    <div id = "myCalendarWrapper">

        <button type = "submit" class = "close" onclick="closeCalendar()"></button>


        <div class = "calNavbar">

            <div>
                <button type = "submit" class = "" onclick="setToday()">Today</button>
            </div>

            <div>
                <button type = "submit" onclick="savePlanningFront()"> submit</button>
            </div>

            <div>
                <button type = "submit" onclick="loadPlanningFront()"> load Dashboard</button>
            </div>

            <div>
                <button type = "submit" onclick="deletePlanningFront()"> Delete</button>
            </div>


            <div>
                <p>blue is days where plannings are saved</p>
            </div>    
    
       

        </div>
      


    </div>

</body>



