<link rel='stylesheet' type ="text/css" href='../css/registerFormStyle.css'>

<body>

 <div class = "center content" >

    <label for = "loginForm" class = "title" > Register </label> 
    <form id = "loginForm" action = "/register" method = "POST">

        <div>
            <label for="email">Email</label>
            <input type="text" placeholder="Enter email" name="email" id = "email">
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" placeholder="Enter password" name="password" id ="password">
        </div>   
       
        <div>
            <label for="confirm">Confirm password</label>
            <input type="password" placeholder="Confirm password" name="confirm" id = "confirm">
        </div>

        <div>
            <button type="submit" value="submit">Submit</button>
        </div>


    </form>

    

  </div>

</body>