<link rel='stylesheet' type ="text/css" href='../css/registerFormStyle.css'>

<body>

 <div class = "center content" >

    <label for = "loginForm" class = "title" > Register </label> 
    <form id = "loginForm" action = "/register" method = "POST">


        <div>
            <label for="email">Email</label>
            <input type="text" placeholder="enter email" id="email">
        </div>

       
        <div>
            <label for="password">Password</label>
            <input type="password" placeholder="password" id="password">
        </div>   
       

        <div>
            <label for="confirm">Confirm password</label>
            <input type="password" placeholder="confirm password" id="confirm">
        </div>

      
        <div>
            <input type="submit" value="submit">
        </div>



    </form>

  </div>

</body>