
.centerDiv{

    display: flex;
    justify-content: center;
    align-items: center;

}


  .greenTick{

    border: none;
    background-image: url(../assets/greenTick.png);
    background-size: 100%;
    background-color: transparent;
    border-radius: 25%;
    cursor: pointer ;
    
  }

  .greenTick:active{

    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);

  }

  .close{

    border: none;
    background-image: url(../assets/redCross.png);
    background-size: 100%;
    background-color: transparent;
    border-radius: 25%;
    cursor: pointer ;


  }


  .close:active{

    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);

  }



  
  .done{
      font-family: "Anton";
      text-decoration: line-through;
  }
  
  .delete{
     float: right;
    }
  
  .addTime{
      
    float: right;
      
  }
  
  .font{
      
    font-family: "Anton";
      
  }
  
  .draggable{

      cursor: grab;
  }
  
  .draggable.dragging{
      
      opacity: .5;
  }
  
  