
  .navbar {
    background-color: #333;
    font-family: Arial;
    height: fit-content;
  }
  .inlineNav{
    display: inline-block;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 1% 2%;
    text-decoration: none;
    height: 45px;
  }

  .inlineNav:hover {
    background-color :red;
  }
  
  .navButton{
    height: 100%;
    width: 100%;
    color: white;
    text-decoration: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  
  .dropdown-content {
    z-index: 10;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    left: 0;
    top: 100%;
    width: 100%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  

