body
{
 font-family:sans-serif;
 background: #dde1e7;
 min-height: 100vh;
}

.center
{
 display: block;
 position:absolute;
 top:50%;
 left:50%;
 transform:translate(-50%,-50%);
}

.content
{
 width: 330px;
 height: auto;
 background: #F3eaaf;
 padding: 30px 35px 40px;
 box-sizing: border-box;
 border-radius: 7px;
}   

.title{
    
    font-size: 30px;
    color: #000000;
    margin-left: 25%;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    font-weight: 100;

}

.content form{

    margin-top: 30px;
}

.content div{
    display: block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: none;
    padding: 10px 5px 5px 10px;
}

.content div input{

    margin-top: 10px;
    display: block;
    height: 30px;
    width: 100%;
    border-radius: 2px;
    border: none;

}

.content div button{

    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: medium;
    font-weight: 100;

}







